<div>
    <h1>Email Verification</h1>
</div>

@if (TempData["Message"] != null)
{
    <h3>@TempData["Message"]</h3>
}
@if (TempData["EmailVerifySuccess"] != null)
{
    <span class="text-success">@TempData["EmailVerifySuccess"]</span>
}