@model AuthModel

<div>
    @if (TempData["ResetPasswordSuccess"] != null)
    {
        <span class="text-success">@TempData["ResetPasswordSuccess"]</span>

    }
    <form asp-action="ResetPassword" asp-controller="Authentication" method="post">
        <label asp-for="@Model.Email"></label>
        <input class="my-1 form-control" type="email" asp-for="@Model.Email" placeholder="Email" />
        @if (TempData["ResetPasswordErr"] != null)
        {
            <span class="text-danger">@TempData["ResetPasswordErr"]</span>
        }
        <div>
            <input class="btn btn-primary" type="submit" value="Reset Password" />
        </div>
    </form>
</div>